<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>
<body class="bg-[#262626] p-16 overflow-hidden">
    <main class="-mt-10">
        <img src="./img/Rectangle 244.png" alt="">
        <img src="./img/E.png" alt="" class="absolute top-[65px] ml-[360px]">
        <img src="./img/Z.png" alt="" class="absolute top-[385px] -ml-6">
        <img src="./img/Rectangle 245.png" alt="" class="absolute ml-[600px] -mt-[255px]">
        <img src="./img/L.png" alt="" class="absolute ml-[1350px] -mt-48">
        <img src="./img/Frame 987.png" alt="" class="absolute ml-[400px] mt-3">
        <img src="./img/Rectangle 246.png" alt="" class="absolute mt-20 ml-[300px]">
        <img src="./img/A.png" alt="" class="absolute mt-24 ml-[840px]">
    </main>
</body>
</html>