<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
    <style>
        body {
            background-image: url(./img/img.png);
            background-size: cover;
        }
    </style>
</head>

<body class="overflow-hiden">
    <!-- main -->
    <section>
        <nav class="grid grid-cols-3 w-max">
            <img src="./img/Frame 1035.png" alt="" class="ml-4 mt-11">
            <img src="./img/Line 114.png" alt="" class="-ml-28 -mt-28">

            <div class=" mt-10 grid grid-cols-2 text-white gap-4">
                <h3>WELCOME</h3>
                <h3>01.04</h3>
            </div>
            <div class=" mt-10 text-white ml-[70%] absolute">
                <h1 class="w-max">OSCAR SUN<br>
                    EXPERIENCE DESIGN STUDIO</h1>
            </div>
        </nav>
        <footer>
            <img src="./img/what.png" alt="" class="w-[860px] -mt-[430px] ml-[100px]">
            <img src="./img/Frame 1034.png" alt="" class="ml-5">
        </footer>
    </section>
    <!-- main -->
</body>

</html>