<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body class="p-20 overflow-hidden">
    <!-- navbar -->
    <nav class="grid gap-10">
        <img src="./img/Frame 989.png" alt="">
        <img src="./img/Frame 990.png" alt="">
    </nav>
    <!-- navbar -->
    <!-- main -->
    <main>
        <img src="./img/Frame 991.png" alt="" class="mt-[339px] absolute -ml-[80px]" style="width: 1842px !important;">
    </main>
    <!-- main -->
</body>

</html>