<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>
<body class="bg-[#262626] p-10 overflow-hidden">
    <main>
        <ul class="grid grid-cols-2 w-max ml-20 text-[18px] gap-20">
            <li class="text-[#A8A8A8]">Home</li>
            <li class="text-white">Artwork</li>
        </ul>



        <section>
            <div>
                <img src="./img/Frame 971.png" alt="" class="ml-60 mt-16">
                <img src="./img/explore.png" alt="" class="absolute ml-[500px] -mt-[240px]">
            </div>

            <div class="ml-[550px]">
                <h3 class="text-white mb-16">Convoluted colorfulness</h3>
                <p class="text-[#A8A8A8]">Lined up behind the space bartender is the<br> meaning of it all, the vessels marked with<br> letters, numbers, signs...</p>
            </div>
        </section>



        <div class="grid grid-cols-2 w-max ml-40 -mt-5">
            <img src="../11_pages/img/Line 104.png" alt="">
            <img src="../11_pages/img/Line 103.png" alt="" class="-ml-[84px] mt-[0.5px]">

            <h4 class="text-white">10%</h4>
        </div>
    </main>
</body>
</html>