<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body>
    <!-- main -->
    <main>
        <h3 class="font-bold absolute ml-[1400px]">MENU</h3>
        <img src="./img/Frame 970.png" alt="" class="w-[877px] ml-[10vw] mt-20">
        <h3 class="font-bold absolute mt-40 ml-20">SCROLL</h3>
        <img src="./img/superwoman 1.png" alt="" class="ml-[900px] -mt-[50px]">
    </main>
    <!-- main -->
</body>

</html>