<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body class="overflow-hidden">
    <!-- main -->
    <main class="grid grid-cols-2">
        <img src="./Frame 962.png" alt="">
        <section class="justify-center grid h-max gap-5">
            <nav>
                <ul class="grid grid-cols-5 gap-5 w-max uppercase">
                    <li>shop</li>
                    <li>about</li>
                    <li>innovation</li>
                    <li class="ml-10">login</li>
                    <li class="ml-8">cart</li>
                </ul>
            </nav>
            <div class="text-center mt-48">
                <img src="./Frame 963.png" alt="" class="ml-10">
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero in <br> mauris est condimentum suscipit. Viverra tincidunt amet aliquet<br> massa rhoncus egestas eget id turpis. Augue nunc. </p>
            </div>
            <div class="bg-[#D5DACC] grid grid-cols-2 w-[468px] h-[58px] gap-40 p-4 pl-12 mt-60 ml-7">
                <h4 class="w-max">This website uses cookies. <span class="underline">Learn more.</span></h4>
                <h3 class="font-medium ml-5">ACCERT</h3>
            </div>
        </section>
    </main>
    <!-- main -->
</body>

</html>