<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body class="p-9">
    <!-- navbar -->
    <nav class="grid grid-cols-2 ml-5 w-max">
        <img src="./img/Frame 989.png" alt="">
        <img src="./img/Frame 992.png" alt="" class="ml-[300px]">
    </nav>
    <!-- navbar -->
    <!-- main -->
    <main>
        <section class="grid grid-cols-6 mt-14 ml-5">
            <img src="./img/Frame 999.png" alt="">
            <img src="./img/Frame 1000.png" alt="">
            <img src="./img/Frame 1001.png" alt="">
            <img src="./img/Frame 1002.png" alt="">
            <img src="./img/Frame 1003.png" alt="">
            <img src="./img/Frame 1004.png" alt="">
        </section>
        <div>
            <h4 class="text-[16px] w-[864px] text-center ml-60">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                A pretium elit nisi ac scelerisque. Mattis
                interdum tellus nulla pharetra sit eget. Sollicitudin ultrices dolor, ultrices mi ut. Hendrerit odio nec
                vel etiam. Vitae, fusce sit id aliquet blandit risus condimentum. Urna pellentesque quis ut mattis
                pretium aliquam arcu congue. </h4>
            <img src="./img/keyboard_arrow_down.png" alt="" class="ml-[45%]">
        </div>
    </main>
    <!-- main -->
    <!-- footer -->
    <footer class="grid grid-cols-2 w-screen gap-80 ml-5">
        <h4 class="font-bold">K.B></h4>
        <img src="./img/Frame 1005.png" alt="">
    </footer>
    <!-- footer -->
</body>

</html>