<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body class="overflow-hidden">
    <section class="p-10">
        <nav class="grid grid-cols-2 w-screen mt-20 gap-[1100px]">
            <img src="./img/Works.png" alt="">
            <h4>Info & contact</h4>
        </nav>
        <main>
            <img src="./img/Frame 1007.png" alt="" class="ml-[45%] w-[152px] -mt-16">

            <div class="grid gap-7 w-max ml-[80%] -mt-[13%]">
                <h4 class="text-right">Who we are</h4>
                <h5>We are orem ipsum dolor sit amet,<br> consectetur adipiscing elit. A sit turpis<br> sollicitudin purus
                    pellentesque amet. </h5>
            </div>
        </main>
        <h4 class="font-bold mt-32">K.B></h4>
    </section>
</body>

</html>