<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body>
    <main>
        <img src="./img/Vector.png" alt="">
        <div class="grid justify-center text-center ml-[680px] -mt-[700px]">
            <h1 class="text-[64px] font-bold text-[#333333]">Don't miss it</h1>
            <p class="text-[24px] text-[#333333]">We will email you one delicious recipe <br> everyday for you to try at home. They<br> are simple and
                delicious: we<br>
                encourage you to try! </p>
            <input type="text" placeholder="Your email here" class="block pl-5 mt-3 rounded-md border-2 border-[#333333] text-[20px] h-[60px]">
            <button class="py-[10px] px-[20px] bg-[#333333] text-white text-[24px] w-[143px] h-[50px] rounded-md ml-32 mt-4">Subscribe</button>
        </div>
    </main>
</body>

</html>