<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body class="p-12 overflow-hidden">
    <nav class="grid grid-cols-2 w-max">
        <img src="./img/Group 3.png" alt="">
        <div class="grid grid-cols-2 w-max gap-2  border-2 border-[#7b7b7b] p-1 rounded-[20px] pl-4 ml-[600px]">
            <h4>Menu</h4>
            <img src="./img/jam_menu.png" alt="">
        </div>
    </nav>
    <main class="-mt-[20px]">
        <section class="grid grid-cols-2 ">
            <img src="./img/Great products don’t try to do everything. We are minimalists, and we do a few things, very well..png"
                alt="" class="mt-[240px] ml-[140px]">
            <div class="grid grid-cols-2 w-max mt-[100px]">
                <img src="./img/Group 4.png" alt="">
                <img src="./img/Rectangle 1.png" alt="" class="grayscale mt-[60px] -ml-[385px] -z-10">
            </div>
        </section>
    </main>
    <footer>
        <div class="bg-black w-max text-white p-3 rounded-[35px] grid grid-cols-2 -mt-[100px] ml-[137px]">
            <h4 class="mt-1 ml-6">Tech Support</h4>
            <img src="./img/clarity_settings-line.png" alt="" class="ml-10">
        </div>
        <select class="border-b-2 border-black ml-[650px] mt-[60px]">
            <option>Scroll down</option>
        </select>
    </footer>
</body>

</html>