<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body class="p-12 overflow-hidden">
    <nav class="grid grid-cols-2 w-max">
        <img src="./img/Group 1.png" alt="">
        <div class="grid grid-cols-3 w-max ml-[560px] gap-3">
            <h4>CN</h4>
            <h4 class="font-bold border-b-2 border-black">EN</h4>
            <img src="./img/gg_menu-left.png" alt="" class="-mt-1.5">
        </div>
    </nav>
    <main class="grid grid-cols-2">
        <div class="mt-[200px] ml-40 absolute">
            <img src="./img/One nightowl is coding really hard.png" alt="">
            <div class="mt-3">
                <h1 class="font-thin text-[90px] text-[#7c7c7c]">COMING SOON</h1>
                <h1 class="font-thin text-[90px] -mt-[129px] text-[#7c7c7c]">COMING SOON</h1>
                <h1 class="font-thin text-[90px] -mt-[129px] text-[#515050]">COMING SOON</h1>
                <h1 class="font-thin text-[90px] -mt-[129px] text-[#515050]">COMING SOON</h1>
            </div>
        </div>
        <img src="./img/Group 2.png" alt="" class="mt-[100px] ml-[850px]">
    </main>
    <footer class="-mt-[340px]">
        <div class="ml-[300px]">
            <input type="text" placeholder="Get Notifed" class=" text-center border-b-2 border-[#FF7064]">
            <button class="rounded-md bg-[#FF7064] px-6 py-4 text-white ml-3">Send</button>
        </div>
    </footer>
</body>

</html>