<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
    <style>
        body{
            background-image: url(./img/photo_2024-05-12_15-28-51.jpg);
            background-size: cover;
            /* background-repeat: no-repeat; */
        }
    </style>
</head>
<body class="p-16">
    <nav class="grid grid-cols-3">
        <img src="./img/CAR LOGO.png" alt="">
        <ul class="grid grid-cols-5 w-max -ml-20 -mt-2 gap-16">
            <li>MODLE A</li>
            <li>MODLE B</li>
            <li>MODLE C</li>
            <li>MODLE D</li>
            <li>MODLE E</li>
        </ul>
        <img src="./img/menu.png" alt="" class="ml-80 -mt-2">
    </nav>
    <section class="grid justify-center gap-5 mt-60">
        <h1 class="text-[48px] ml-14 text-white">MODEL A</h1>
        <img src="./img/Frame 969.png" alt="">
    </section>
</body>
</html>