<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body>
    <!-- main -->
    <main class="grid grid-cols-2">
        <img src="./img/Rectangle 1.png" alt="">
        <section class="-ml-20"">
            <nav class=" mt-10 mb-28">
            <h1 class="text-[36px] font-semibold">Trinity 43rd Avenue LLC</h1>
            </nav>
            <div>
                <img src="./img/Thanks, John!.png" alt="">
                <p class="text-[24px] text-[#7f7f7f] mt-3">Here is your receipt for your rent payment for the month of
                    July.<br> Below are the details. </p>
            </div>
            <div class="text-[24px] mt-40">
                <div class="grid grid-cols-2 w-max gap-10">
                    <h4>Date</h4>
                    <h4 class="ml-10">June 30, 2020</h4>
                </div>
                <div class="grid grid-cols-2 w-max gap-10">
                    <h4>Total Payment</h4>
                    <h4 class="text-[#009E06] ml-[52px]">$1200 USD</h4>
                </div>
            </div>

            <p class="text-[#7f7f7f] mt-40">Questions? Contact us at (206) 121-456 or email us at
                trinityapartment@43st.com </p>
        </section>
    </main>
    <!-- main -->
</body>

</html>