<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body class="overflow-hidden">
    <nav class="p-10 grid pl-14 grid-cols-2 w-max">
        <div class="grid grid-cols-3 w-max">
            <img src="./img/Group 4.png" alt="">
            <img src="./img/Line 2.png" alt="" class="ml-3">
            <h4 class="-ml-10 -mt-2">Something about<br>
                lemon</h4>
        </div>
        <div class="grid grid-cols-2 w-max ml-[560px]">
            <img src="./img/Group.png" alt="" class="ml-10">
            <h4>how to eat</h4>
        </div>
    </nav>
    <main class="mt-[300px]">
        <h4 class="ml-14">1/12</h4>
        <div class="ml-[500px] -mt-[100px]">
            <img src="./img/LEMON.png" alt="">
            <div class="-mt-[13px] ml-48">
                <img src="./img/Rectangle 9.png" alt="" class="grayscale">
                <img src="./img/cw1MAVs4wV8.png" alt="" class="absolute -mt-[480px] grayscale -ml-[40px]">
            </div>
        </div>
        <div class="ml-[95%] -mt-[700px]">
            <img src="./img/Group 7.png" alt="" class="ml-4 -mt-3">
            <img src="./img/clarity_search-line.png" alt="">
        </div>
    </main>
    <footer>
        <div class="grid grid-cols-2 w-max gap-10 mt-[40px] ml-14">
            <img src="./img/Vector.png" alt="" class="rotate-180">
            <img src="./img/Vector.png" alt="">
        </div>
    </footer>
</body>

</html>