<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body class="overflow-hidden">
    <main class="grid grid-cols-2">
        <div class="grid grid-cols-2 w-max">
            <img src="./img/Z.png" alt="" style="width: 193px;">
            <img src="./img/A.png" alt="" style="width: 673px;" class="absolute">
        </div>
        <section>
            <div class="w-[632px] border-y-2 border-black mt-20">
                <h4 class="text-[36px] ml-10">ABOUT THIS SHITHOLE</h4>
            </div>
            <p class="w-[483px] mt-6 ml-10 text-[19px] font-normal">Montes, enim eleifend lacinia eu. Nisl sed vitae urna viverra sed orci leo. Facilisis sit gravida commodo
                massa. Vulputate orci id diam ut libero. Tristique sollicitudin urna et etiam mattis in. Pellentesque eu
                orci lectus est amet donec. Sagittis quam tortor elementum enim purus elementum elit bibendum nisl. Dis
                leo laoreet vel lorem. Montes, enim eleifend lacinia eu. Nisl sed vitae urna viverra sed orci leo.
                Facilisis sit gravida commodo massa. Vulputate orci id diam ut libero. Tristique sollicitudin urna et
                etiam mattis in. Pellentesque eu orci lectus est amet donec. Sagittis quam tortor elementum enim purus
                elementum elit bibendum nisl. Dis leo laoreet vel lorem. Elit bibendum nisl. Dis leo laoreet vel. Dis
                leo laoreet vel lorem. Elit bibendum nisl. Dis leo laoreet vel.</p>

            <div class="-mt-16">
                <div class="w-[1232px] border-b-2 border-black -ml-24 mt-20"></div>
                <img src="./img/bout.png" alt="">
                <img src="./img/Ellipse 112.png" alt="" class="absolute -mt-[440px] ml-20">
            </div>
        </section>
    </main>
</body>

</html>