<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>

<body class="p-10 bg-[#EFEFEF] overflow-hidden">
    <!-- navbar -->
    <nav class="grid grid-cols-2">
        <div class="grid grid-cols-4 w-max gap-4">
            <h4>visit</h4>
            <h4 class="-ml-5">exhibition</h4>
            <h4>collection</h4>
            <h4 class="ml-3">programs</h4>
        </div>
        <div class="border-2 border-black w-[260px] ml-[400px] h-[41px] grid grid-cols-2 rounded-[30px]">
            <img src="./img/Group.png" alt="" class="ml-4 mt-2">
            <h4 class="w-max text-[#0F0F0F80] -ml-16 mt-1.5">search something...</h4>
        </div>
    </nav>
    <!-- navbar -->
    <!-- main -->
    <main>
        <div>
            <img src="./img/Mask Group.png" alt="">
            <h3 class="text-[64px] font-thin text-[#0F0F0F] -mt-24 ml-40">ART IN ITS BEST FORM...</h3>
        </div>
        <div class="ml-[420px]">
            <img src="./img/Mask Group (1).png" alt="">
            <div class="-mt-60 ml-48">
                <h3 class="text-[48px] font-bold">COVID - 19 Responsive:</h3>
                <h4 class="text-[30px]">Stay at home with SAM</h4>
            </div>
            <img src="./img/Mask Group (2).png" alt="" class="-ml-80 mt-20">
        </div>
    </main>
    <!-- main -->
</body>

</html>