<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>
<body class="p-10 overflow-hidden">
    <nav class="grid grid-cols-2 w-screen gap-80">
        <img src="./img/WORKS.png" alt="">
        <img src="./img/INFO & CONTACT.png" alt="" class="ml-[300px]">
    </nav>

    <main>
        <div class="grid grid-cols-3 w-max ml-[1000px] mt-20">
            <img src="./img/Ellipse 113.png" alt="">
            <img src="./img/Ellipse 114.png" alt="" class="-ml-28">
            <img src="./img/Ellipse 115.png" alt="" class="-ml-52">
        </div>
        <div>
            <img src="./img/Frame 1006.png" alt="" class="ml-40">
        </div>
    </main>
    <footer class="grid grid-cols-2 mt-36 gap-80">
        <img src="./img/K.B_.png" alt="">
        <img src="./img/Frame 1005.png" alt="" class="ml-32">
    </footer>
</body>
</html>